// responsive

@media (max-width:1023px) {
    .containerProducts {
        grid-template-columns: repeat(2, 1fr);
    }

    .containerProduct {
        grid-template-columns: repeat(1, 1fr);
        margin: 15vh;;
    }
}

@media (max-width:768px) {
    .containerProducts {
        grid-template-columns: 1fr;
        margin: 10vh;
    }

    .containerProduct {
        grid-template-columns: 1fr;
        margin: 5vh;;
    }
}