// colors
$c-strong-orange: #CC3A3D;
$c-light-orange: #ff792c;
$c-strong-green: #405738;
$c-light-green: #90b285;
$c-main-gray: #373433;
$c-light-gray: #f2f2f2;
$c-bg-yellow: #fffef7;

// fonts
$f-primary: 'Playfair Display', bold;
$f-secondary: 'Inconsolata', monospace;